<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nefarius-VideoLibrary" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="ToastNotifications" version="2.2.5" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.2.5" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net461" />
  <package id="XamlStyler.Console" version="3.0.0" targetFramework="net461" developmentDependency="true" />
</packages>